= t('reports.excel_icon_alt') + ':'
=link_to image_tag("excel-icon.png",  alt: t('reports.excel_icon_alt'), width: 25, height: 25),
 reports_path(format: 'xls', firstDate: params[:firstDate], secondDate: params[:secondDate]),
 class: 'excel-icon'

%p.sorting-notice= t('reports.use_shift')
.clearfix
%table.table.table-hover
  %thead
    %tr
      - I18n.t('reports.lead.columns').values.each do |column_value|
        %th= column_value
  %tbody
    - @rows.each do |row|
      %tr
        - row.each do |value|
          %td= value

- if @leads.empty?
  .no-data
    = t('reports.lead.no_available_leads')

.col-md-12
  = will_paginate @leads, :renderer => BootstrapPagination::Rails
