- count = (@page.to_i-1)*30 + 1
- @leads.each do |lead|
  %tr
    %td= count
    %td= lead.created_at
    %td= lead.id
    %td= lead.details_pets.first.pet_name
    %td= lead.details_pets.first.species
    %td= lead.details_pets.first.birth_month.to_s + ' ' +  lead.details_pets.first.birth_year.to_s
    %td= lead.try(:zip_code).try(:state)
    %td= lead.first_name + ' ' + lead.last_name
    %td= lead.email
    %td= lead.day_phone
    %td= lead.visitor_ip
    %td= ''
    %td= ''
    %td= ''
    %td= ''
  - count += 1
