
.row.form-group
  .col-md-2
    %h2 Leads per day graph
  .col-md-9.choose-range
    Choose range:
    %input.simpledaterange
    #leads_per_day





.row.form-group
  .col-md-2
    %h2 Leads

.col-md-12
  %table.table.table-hover
    %thead
      %tr
        %th #
        %th Date/Time
        %th Lead ID
        %th Pet Name
        %th Dog/Cat
        %th Pet Age
        %th State
        %th User Name
        %th User Email
        %th User phone
        %th IP
        %th Type
        %th Sold To
        %th Price
        %th Response
    %tbody
      - count = 1
      - @leads.each do |lead|
        %tr
          %td= count
          %td= ''
          %td= lead.id
          %td= lead.details_pets.first.pet_name
          %td= lead.details_pets.first.species
          %td= lead.details_pets.first.birth_month.to_s + ' ' +  lead.details_pets.first.birth_year.to_s
          %td= lead.try(:zip_code).try(:state)
          %td= lead.first_name + ' ' + lead.last_name
          %td= lead.email
          %td= lead.day_phone
          %td= lead.visitor_ip
          %td= ''
          %td= ''
          %td= ''
          %td= ''
        - count += 1




:javascript
  $(function () {
      LeadStatisticGraph.show( #{@leads_per_day} );
  });

  $(document).ready(function () {
      $('.simpledaterange').dateRangePicker().bind('datepicker-change',
              function (_, period) {
                  LeadStatisticGraph.refresh(Date.parse(period.date1), Date.parse(period.date2))
              }
      );
  });