<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Lead">
    <Table>
      <Row>
        <% I18n.t('reports.lead.columns').values.each do |column_value|%>
          <Cell><Data ss:Type="String"><%= column_value %></Data></Cell>
        created: 'Created'
        phone: 'Phone'
        pet_name: 'Pet Name'
        species: 'Species'
        breed: 'Breed'
        spayed_or_neutered: 'Spayed/Neutered'
        month_of_birth: 'Month of Birth'
        year_of_birth: 'Year of Birth'
        gender: 'Gender'
        session_hash: 'Session Hash'
        referring_url: 'Referring URL'
        landing_page: 'Landing Page'
        keyword: 'Keywords'
        <% end %>
      </Row>
      <% @leads.each do |lead| %>
        <% if lead.sold_responses.length == 0 %>
          <Row>
            <Cell><Data ss:Type="Number"><%= lead.id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= lead.visitor_ip %></Data></Cell>
            <Cell><Data ss:Type="String"><%= lead.first_name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= lead.last_name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= lead.zip %></Data></Cell>
            <Cell><Data ss:Type="String"><%= lead.state.nil? ? lead.zip_code.try(:state) : lead.state %></Data></Cell>
            <Cell><Data ss:Type="String"><%= lead.email %></Data></Cell>
            <Cell><Data ss:Type="String"><%= lead.details_pets.first.conditions? ? 'TRUE' : 'FALSE' %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= lead.times_sold.nil? ? 0 : lead.times_sold %></Data></Cell>
            <Cell><Data ss:Type="String"><%= '$0.00' %></Data></Cell>
            <Cell><Data ss:Type="String"><%= '' %></Data></Cell>
            <Cell><Data ss:Type="String"><%= '' %></Data></Cell>
            <Cell><Data ss:Type="String"><%= UTCToPST(lead.created_at) %></Data></Cell>
            <Cell><Data ss:Type="String"><%= "tel:" + lead.day_phone %></Data></Cell>
            <Cell><Data ss:Type="String"><%= lead.details_pets.first.pet_name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= lead.details_pets.first.species %></Data></Cell>
            <Cell><Data ss:Type="String"><%= lead.details_pets.first.breed %></Data></Cell>
            <Cell><Data ss:Type="String"><%= lead.details_pets.first.spayed_or_neutered? ? 'TRUE' : 'FALSE' %></Data></Cell>
            <Cell><Data ss:Type="String"><%= lead.details_pets.first.birth_month %> </Data></Cell>
            <Cell><Data ss:Type="String"><%= lead.details_pets.first.birth_year %></Data></Cell>
            <Cell><Data ss:Type="String"><%= lead.details_pets.first.gender %></Data></Cell>
            <Cell><Data ss:Type="String"><%= lead.visitor.nil? ? '' : lead.visitor.session_hash %></Data></Cell>
            <Cell><Data ss:Type="String"><%= lead.visitor.nil? ? '' : lead.visitor.referring_url %></Data></Cell>
            <Cell><Data ss:Type="String"><%= lead.visitor.nil? ? '' : lead.visitor.landing_page %></Data></Cell>
            <Cell><Data ss:Type="String"><%= lead.visitor.nil? ? '' : lead.visitor.keywords %></Data></Cell>
          </Row>
        <% else %>
          <% lead.sold_responses.each do |response| %>
            <Row>
              <Cell><Data ss:Type="Number"><%= lead.id %></Data></Cell>
              <Cell><Data ss:Type="String"><%= lead.visitor_ip %></Data></Cell>
              <Cell><Data ss:Type="String"><%= lead.first_name %></Data></Cell>
              <Cell><Data ss:Type="String"><%= lead.last_name %></Data></Cell>
              <Cell><Data ss:Type="String"><%= lead.zip %></Data></Cell>
              <Cell><Data ss:Type="String"><%= lead.state.nil? ? lead.zip_code.try(:state) : lead.state %></Data></Cell>
              <Cell><Data ss:Type="String"><%= lead.email %></Data></Cell>
              <Cell><Data ss:Type="String"><%= lead.details_pets.first.conditions? ? 'TRUE' : 'FALSE' %></Data></Cell>
              <Cell><Data ss:Type="Number"><%= lead.times_sold.nil? ? 0 : lead.times_sold %></Data></Cell>
              <Cell><Data ss:Type="String"><%= '$' + lead.sold_po_price(response.purchase_order_id).to_s %></Data></Cell>
              <Cell><Data ss:Type="String"><%= lead.client_sold_to(response.client_name).try(:official_name) %></Data></Cell>
              <Cell><Data ss:Type="String"><%= lead.sold_type.exclusive_selling? ? 'Exclusive' : 'Shared' %></Data></Cell>
              <Cell><Data ss:Type="String"><%= UTCToPST(lead.created_at) %></Data></Cell>
              <Cell><Data ss:Type="String"><%= "tel:" + lead.day_phone %></Data></Cell>
              <Cell><Data ss:Type="String"><%= lead.details_pets.first.pet_name %></Data></Cell>
              <Cell><Data ss:Type="String"><%= lead.details_pets.first.species %></Data></Cell>
              <Cell><Data ss:Type="String"><%= lead.details_pets.first.breed %></Data></Cell>
              <Cell><Data ss:Type="String"><%= lead.details_pets.first.spayed_or_neutered? ? 'TRUE' : 'FALSE' %></Data></Cell>
              <Cell><Data ss:Type="String"><%= lead.details_pets.first.birth_month %> </Data></Cell>
              <Cell><Data ss:Type="String"><%= lead.details_pets.first.birth_year %></Data></Cell>
              <Cell><Data ss:Type="String"><%= lead.details_pets.first.gender %></Data></Cell>
              <Cell><Data ss:Type="String"><%= lead.visitor.nil? ? '' : lead.visitor.session_hash %></Data></Cell>
              <Cell><Data ss:Type="String"><%= lead.visitor.nil? ? '' : lead.visitor.referring_url %></Data></Cell>
              <Cell><Data ss:Type="String"><%= lead.visitor.nil? ? '' : lead.visitor.landing_page %></Data></Cell>
              <Cell><Data ss:Type="String"><%= lead.visitor.nil? ? '' : lead.visitor.keywords %></Data></Cell>
            </Row>
          <% end %>
        <% end %>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>

