.row.form-group
  .col-md-2
    %h2 Leads per day graph
  .col-md-9.choose-range
    = t('reports.choose_range')
    = t('reports.range_from')
    %input#graph-date-range-from
    = t('reports.range_to')
    %input#graph-date-range-to
    #leads_per_day

.row.form-group
  .col-md-2
    %h2 Leads
  .col-md-12
    = t('reports.choose_range')
    = t('reports.range_from')
    %input#table-date-range-from
    = t('reports.range_to')
    %input#table-date-range-to

.lead-table.col-md-12
  = render 'leads'


:javascript
  $(function () {
      LeadStatisticGraph.show( #{@leads_per_day} );
  });

  $(document).ready(function () {
    DatePicker.initializeForGraph();
    DatePicker.initializeForLeads();
  });

  $(document).ready(function () {
    $('#graph-date-range-from').datetimepicker({
      timepicker: false,
      format: "Y-m-d",
      onClose: function(time, $input) {
        DatePicker.graph_date_range_from = $input.val();
        DatePicker.updateForGraph();
      },
      closeOnDateSelect: true
    });

    $('#graph-date-range-to').datetimepicker({
      timepicker:false,
      format: "Y-m-d",
      onClose: function(time, $input) {
        DatePicker.graph_date_range_to = $input.val();
        DatePicker.updateForGraph();
      },
      closeOnDateSelect: true
    });

    $('#table-date-range-from').datetimepicker({
      timepicker: false,
      format: "Y-m-d",
      onClose: function(time, $input) {
        DatePicker.table_date_range_from = $input.val();
        DatePicker.updateForLeads();
      },
      closeOnDateSelect: true
    });

    $('#table-date-range-to').datetimepicker({
      timepicker:false,
      format: "Y-m-d",
      onClose: function(time, $input) {
        DatePicker.table_date_range_from = $input.val();
        DatePicker.updateForLeads();
      },
      closeOnDateSelect: true
    });
  })

  Pagination.initialize();